<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worlds.mes.mapper.LoginMapper">
    <resultMap id="BaseResultMap" type="com.worlds.mes.entity.User">
        <result column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="nick_name" property="nickName" />
        <result column="pwd" property="pwd" />
        <result column="role_id" property="roleId" />
        <result column="dept_id" property="deptId" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_people" property="createPeople" />
        <result column="update_people" property="updatePeople" />
        <result column="admin" property="admin" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.login_name
        , t.nick_name
        , t.pwd
        , t.role_id
        , t.dept_id
        , t.avatar_url
        , t.create_time
        , t.update_time
        , t.create_people
        , t.update_people
        , t.admin
        , t.enable
        </sql>

    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM sys_user t
    </select>

    <!-- 根据条件查询所有记录 -->
    <select id="listAllByParam" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM sys_user t
        <where>
            <if test="id!=null and id!=''">AND t.id = #{id}</if>
            <if test="loginName!=null and loginName!=''">AND t.login_name = #{loginName}</if>
            <if test="nickName!=null and nickName!=''">AND t.nick_name = #{nickName}</if>
            <if test="pwd!=null and pwd!=''">AND t.pwd = #{pwd}</if>
            <if test="roleId!=null and roleId!=''">AND t.role_id = #{roleId}</if>
            <if test="deptId!=null and deptId!=''">AND t.dept_id = #{deptId}</if>
            <if test="avatarUrl!=null and avatarUrl!=''">AND t.avatar_url = #{avatarUrl}</if>
            <if test="createTime!=null and createTime!=''">AND t.create_time = #{createTime}</if>
            <if test="updateTime!=null and updateTime!=''">AND t.update_time = #{updateTime}</if>
            <if test="createPeople!=null and createPeople!=''">AND t.create_people = #{createPeople}</if>
            <if test="updatePeople!=null and updatePeople!=''">AND t.update_people = #{updatePeople}</if>
            <if test="admin!=null and admin!=''">AND t.admin = #{admin}</if>
            <if test="enable!=null and enable!=''">AND t.enable = #{enable}</if>
        </where>
    </select>

    <!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
        SELECT
        <include refid="baseColumns" />
        FROM sys_user t
        WHERE id = #{id}
    </select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.worlds.mes.entity.User"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            login_name,
            nick_name,
            pwd,
            role_id,
            dept_id,
            avatar_url,
            create_time,
            update_time,
            create_people,
            update_people,
            admin,
            enable,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{loginName},
            #{nickName},
            #{pwd},
            #{roleId},
            #{deptId},
            #{avatarUrl},
            #{createTime},
            #{updateTime},
            #{createPeople},
            #{updatePeople},
            #{admin},
            #{enable},
        </trim>
    </insert>

    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.worlds.mes.entity.User"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="loginName != null">
                login_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="avatarUrl != null">
                avatar_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createPeople != null">
                create_people,
            </if>
            <if test="updatePeople != null">
                update_people,
            </if>
            <if test="admin != null">
                admin,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="loginName != null" >
                #{loginName},
            </if>
            <if test="nickName != null" >
                #{nickName},
            </if>
            <if test="pwd != null" >
                #{pwd},
            </if>
            <if test="roleId != null" >
                #{roleId},
            </if>
            <if test="deptId != null" >
                #{deptId},
            </if>
            <if test="avatarUrl != null" >
                #{avatarUrl},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
            <if test="updateTime != null" >
                #{updateTime},
            </if>
            <if test="createPeople != null" >
                #{createPeople},
            </if>
            <if test="updatePeople != null" >
                #{updatePeople},
            </if>
            <if test="admin != null" >
                #{admin},
            </if>
            <if test="enable != null" >
                #{enable},
            </if>
        </trim>
    </insert>

    <!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.worlds.mes.entity.User">
        UPDATE sys_user
        <set>
            login_name=#{loginName},
            nick_name=#{nickName},
            pwd=#{pwd},
            role_id=#{roleId},
            dept_id=#{deptId},
            avatar_url=#{avatarUrl},
            create_time=#{createTime},
            update_time=#{updateTime},
            create_people=#{createPeople},
            update_people=#{updatePeople},
            admin=#{admin},
            enable=#{enable},
        </set>
        WHERE id = #{id}
    </update>


    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.worlds.mes.entity.User">
        UPDATE sys_user
        <set>
            <if test="loginName != null" >
                login_name=#{loginName},
            </if>
            <if test="nickName != null" >
                nick_name=#{nickName},
            </if>
            <if test="pwd != null" >
                pwd=#{pwd},
            </if>
            <if test="roleId != null" >
                role_id=#{roleId},
            </if>
            <if test="deptId != null" >
                dept_id=#{deptId},
            </if>
            <if test="avatarUrl != null" >
                avatar_url=#{avatarUrl},
            </if>
            <if test="createTime != null" >
                create_time=#{createTime},
            </if>
            <if test="updateTime != null" >
                update_time=#{updateTime},
            </if>
            <if test="createPeople != null" >
                create_people=#{createPeople},
            </if>
            <if test="updatePeople != null" >
                update_people=#{updatePeople},
            </if>
            <if test="admin != null" >
                admin=#{admin},
            </if>
            <if test="enable != null" >
                enable=#{enable},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除记录 -->
    <delete id="delete" parameterType="com.worlds.mes.entity.User">
		UPDATE sys_user
		SET is_deleted=1
		WHERE id = #{id}
	</delete>


</mapper>