<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worlds.mes.mapper.LoginLogMapper">
    <resultMap id="BaseResultMap" type="com.worlds.mes.entity.LoginLog">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="login_date" property="loginDate" />
        <result column="ip" property="ip" />
        <result column="message" property="message" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.user_id
        , t.user_name
        , t.login_date
        , t.ip
        , t.message
        </sql>

    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM login_log t
    </select>

    <!-- 根据条件查询所有记录 -->
    <select id="listAllByParam" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM login_log t
        <where>
            <if test="id!=null and id!=''">AND t.id = #{id}</if>
            <if test="userId!=null and userId!=''">AND t.user_id = #{userId}</if>
            <if test="userName!=null and userName!=''">AND t.user_name = #{userName}</if>
            <if test="loginDate!=null and loginDate!=''">AND t.login_date = #{loginDate}</if>
            <if test="ip!=null and ip!=''">AND t.ip = #{ip}</if>
            <if test="message!=null and message!=''">AND t.message = #{message}</if>
        </where>
    </select>

    <!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
        SELECT
        <include refid="baseColumns" />
        FROM login_log t
        WHERE id = #{id}
    </select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.worlds.mes.entity.LoginLog"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO login_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            user_name,
            login_date,
            ip,
            message,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{userId},
            #{userName},
            #{loginDate},
            #{ip},
            #{message},
        </trim>
    </insert>

    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.worlds.mes.entity.LoginLog"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO login_log
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="loginDate != null">
                login_date,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="message != null">
                message,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="userName != null" >
                #{userName},
            </if>
            <if test="loginDate != null" >
                #{loginDate},
            </if>
            <if test="ip != null" >
                #{ip},
            </if>
            <if test="message != null" >
                #{message},
            </if>
        </trim>
    </insert>

    <!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.worlds.mes.entity.LoginLog">
        UPDATE login_log
        <set>
            user_id=#{userId},
            user_name=#{userName},
            login_date=#{loginDate},
            ip=#{ip},
            message=#{message},
        </set>
        WHERE id = #{id}
    </update>


    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.worlds.mes.entity.LoginLog">
        UPDATE login_log
        <set>
            <if test="userId != null" >
                user_id=#{userId},
            </if>
            <if test="userName != null" >
                user_name=#{userName},
            </if>
            <if test="loginDate != null" >
                login_date=#{loginDate},
            </if>
            <if test="ip != null" >
                ip=#{ip},
            </if>
            <if test="message != null" >
                message=#{message},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>