<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worlds.mes.mapper.OrdersInfoMapper">
	<resultMap id="BaseResultMap" type="com.worlds.mes.entity.OrdersInfo">
            <result column="id" property="id" />
	        <result column="order_id" property="orderId" />
	        <result column="customer_name" property="customerName" />
	        <result column="order_date" property="orderDate" />
	        <result column="delivery_date" property="deliveryDate" />
	        <result column="order_type" property="orderType" />
	        <result column="order_status" property="orderStatus" />
	        <result column="order_quantity" property="orderQuantity" />
	        <result column="product_info_id" property="productInfoId" />
	        <result column="production_info_id" property="productionInfoId" />
	        <result column="logistics_info_id" property="logisticsInfoId" />
	        <result column="material_info_id" property="materialInfoId" />
	        <result column="other_info_id" property="otherInfoId" />
	        <result column="remarks" property="remarks" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.order_id
        , t.customer_name
        , t.order_date
        , t.delivery_date
        , t.order_type
        , t.order_status
        , t.order_quantity
        , t.product_info_id
        , t.production_info_id
        , t.logistics_info_id
        , t.material_info_id
        , t.other_info_id
        , t.remarks
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM orders_info t
	</select>
    
    <!-- 根据条件查询所有记录 -->
    <select id="listAllByParam" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM orders_info t
        <where>
               <if test="id!=null and id!=''">AND t.id = #{id}</if>
	           <if test="orderId!=null and orderId!=''">AND t.order_id = #{orderId}</if>
	           <if test="customerName!=null and customerName!=''">AND t.customer_name = #{customerName}</if>
	           <if test="orderDate!=null and orderDate!=''">AND t.order_date = #{orderDate}</if>
	           <if test="deliveryDate!=null and deliveryDate!=''">AND t.delivery_date = #{deliveryDate}</if>
	           <if test="orderType!=null and orderType!=''">AND t.order_type = #{orderType}</if>
	           <if test="orderStatus!=null and orderStatus!=''">AND t.order_status = #{orderStatus}</if>
	           <if test="orderQuantity!=null and orderQuantity!=''">AND t.order_quantity = #{orderQuantity}</if>
	           <if test="productInfoId!=null and productInfoId!=''">AND t.product_info_id = #{productInfoId}</if>
	           <if test="productionInfoId!=null and productionInfoId!=''">AND t.production_info_id = #{productionInfoId}</if>
	           <if test="logisticsInfoId!=null and logisticsInfoId!=''">AND t.logistics_info_id = #{logisticsInfoId}</if>
	           <if test="materialInfoId!=null and materialInfoId!=''">AND t.material_info_id = #{materialInfoId}</if>
	           <if test="otherInfoId!=null and otherInfoId!=''">AND t.other_info_id = #{otherInfoId}</if>
	           <if test="remarks!=null and remarks!=''">AND t.remarks = #{remarks}</if>
	    		</where>
	 </select>
    
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT         
        	<include refid="baseColumns" />
		FROM orders_info t
		WHERE id = #{id}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.worlds.mes.entity.OrdersInfo"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO orders_info
    <trim prefix="(" suffix=")" suffixOverrides=",">	 
        	        	    	order_id,
    	        	    	customer_name,
    	        	    	order_date,
    	        	    	delivery_date,
    	        	    	order_type,
    	        	    	order_status,
    	        	    	order_quantity,
    	        	    	product_info_id,
    	        	    	production_info_id,
    	        	    	logistics_info_id,
    	        	    	material_info_id,
    	        	    	other_info_id,
    	        	    	remarks,
    	        </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	        	        #{orderId},                   
    	        	        #{customerName},                   
    	        	        #{orderDate},                   
    	        	        #{deliveryDate},                   
    	        	        #{orderType},                   
    	        	        #{orderStatus},                   
    	        	        #{orderQuantity},                   
    	        	        #{productInfoId},                   
    	        	        #{productionInfoId},                   
    	        	        #{logisticsInfoId},                   
    	        	        #{materialInfoId},                   
    	        	        #{otherInfoId},                   
    	        	        #{remarks},                   
    	        </trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.worlds.mes.entity.OrdersInfo"
        keyProperty="id" keyColumn="id" useGeneratedKeys="true"
        >
        INSERT INTO orders_info    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 

                                                                            <if test="orderId != null">
                   order_id,
                    </if>
                                                                <if test="customerName != null">
                   customer_name,
                    </if>
                                                                <if test="orderDate != null">
                   order_date,
                    </if>
                                                                <if test="deliveryDate != null">
                   delivery_date,
                    </if>
                                                                <if test="orderType != null">
                   order_type,
                    </if>
                                                                <if test="orderStatus != null">
                   order_status,
                    </if>
                                                                <if test="orderQuantity != null">
                   order_quantity,
                    </if>
                                                                <if test="productInfoId != null">
                   product_info_id,
                    </if>
                                                                <if test="productionInfoId != null">
                   production_info_id,
                    </if>
                                                                <if test="logisticsInfoId != null">
                   logistics_info_id,
                    </if>
                                                                <if test="materialInfoId != null">
                   material_info_id,
                    </if>
                                                                <if test="otherInfoId != null">
                   other_info_id,
                    </if>
                                                                <if test="remarks != null">
                   remarks,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                                            <if test="orderId != null" >
                    #{orderId},                    
                    </if>
                                                                <if test="customerName != null" >
                    #{customerName},                    
                    </if>
                                                                <if test="orderDate != null" >
                    #{orderDate},                    
                    </if>
                                                                <if test="deliveryDate != null" >
                    #{deliveryDate},                    
                    </if>
                                                                <if test="orderType != null" >
                    #{orderType},                    
                    </if>
                                                                <if test="orderStatus != null" >
                    #{orderStatus},                    
                    </if>
                                                                <if test="orderQuantity != null" >
                    #{orderQuantity},                    
                    </if>
                                                                <if test="productInfoId != null" >
                    #{productInfoId},                    
                    </if>
                                                                <if test="productionInfoId != null" >
                    #{productionInfoId},                    
                    </if>
                                                                <if test="logisticsInfoId != null" >
                    #{logisticsInfoId},                    
                    </if>
                                                                <if test="materialInfoId != null" >
                    #{materialInfoId},                    
                    </if>
                                                                <if test="otherInfoId != null" >
                    #{otherInfoId},                    
                    </if>
                                                                <if test="remarks != null" >
                    #{remarks},                    
                    </if>
                                    </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.worlds.mes.entity.OrdersInfo">
    UPDATE orders_info
     <set>		
                                     order_id=#{orderId},        
                                customer_name=#{customerName},        
                                order_date=#{orderDate},        
                                delivery_date=#{deliveryDate},        
                                order_type=#{orderType},        
                                order_status=#{orderStatus},        
                                order_quantity=#{orderQuantity},        
                                product_info_id=#{productInfoId},        
                                production_info_id=#{productionInfoId},        
                                logistics_info_id=#{logisticsInfoId},        
                                material_info_id=#{materialInfoId},        
                                other_info_id=#{otherInfoId},        
                                remarks=#{remarks},        
                   </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.worlds.mes.entity.OrdersInfo">
    UPDATE orders_info
    <set>
    	                                                <if test="orderId != null" >
                order_id=#{orderId},                 
                </if>
                                                <if test="customerName != null" >
                customer_name=#{customerName},                 
                </if>
                                                <if test="orderDate != null" >
                order_date=#{orderDate},                 
                </if>
                                                <if test="deliveryDate != null" >
                delivery_date=#{deliveryDate},                 
                </if>
                                                <if test="orderType != null" >
                order_type=#{orderType},                 
                </if>
                                                <if test="orderStatus != null" >
                order_status=#{orderStatus},                 
                </if>
                                                <if test="orderQuantity != null" >
                order_quantity=#{orderQuantity},                 
                </if>
                                                <if test="productInfoId != null" >
                product_info_id=#{productInfoId},                 
                </if>
                                                <if test="productionInfoId != null" >
                production_info_id=#{productionInfoId},                 
                </if>
                                                <if test="logisticsInfoId != null" >
                logistics_info_id=#{logisticsInfoId},                 
                </if>
                                                <if test="materialInfoId != null" >
                material_info_id=#{materialInfoId},                 
                </if>
                                                <if test="otherInfoId != null" >
                other_info_id=#{otherInfoId},                 
                </if>
                                                <if test="remarks != null" >
                remarks=#{remarks},                 
                </if>
                        </set>
    WHERE id = #{id}
    </update>

</mapper>