<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worlds.mes.mapper.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.worlds.mes.entity.Resource">
            <result column="id" property="id" />
	        <result column="pid" property="pid" />
	        <result column="type" property="type" />
	        <result column="name" property="name" />
	        <result column="path" property="path" />
	        <result column="component" property="component" />
	        <result column="meta" property="meta" />
	        <result column="admin" property="admin" />
	        <result column="enable" property="enable" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.pid
        , t.type
        , t.name
        , t.path
        , t.component
        , t.meta
        , t.admin
        , t.enable
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM sys_resource t
	</select>
    
    <!-- 根据条件查询所有记录 -->
    <select id="listAllByParam" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM sys_resource t
        <where>
               <if test="id!=null and id!=''">AND t.id = #{id}</if>
	           <if test="pid!=null and pid!=''">AND t.pid = #{pid}</if>
	           <if test="type!=null and type!=''">AND t.type = #{type}</if>
	           <if test="name!=null and name!=''">AND t.name = #{name}</if>
	           <if test="path!=null and path!=''">AND t.path = #{path}</if>
	           <if test="component!=null and component!=''">AND t.component = #{component}</if>
	           <if test="meta!=null and meta!=''">AND t.meta = #{meta}</if>
	           <if test="admin!=null and admin!=''">AND t.admin = #{admin}</if>
	           <if test="enable!=null and enable!=''">AND t.enable = #{enable}</if>
	    		</where>
	 </select>
    
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT         
        	<include refid="baseColumns" />
		FROM sys_resource t
		WHERE id = #{id}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.worlds.mes.entity.Resource"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">	 
        	        	    	pid,
    	        	    	type,
    	        	    	name,
    	        	    	path,
    	        	    	component,
    	        	    	meta,
    	        	    	admin,
    	        	    	enable,
    	        </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	        	        #{pid},                   
    	        	        #{type},                   
    	        	        #{name},                   
    	        	        #{path},                   
    	        	        #{component},                   
    	        	        #{meta},                   
    	        	        #{admin},                   
    	        	        #{enable},                   
    	        </trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.worlds.mes.entity.Resource"
        keyProperty="id" keyColumn="id" useGeneratedKeys="true"
        >
        INSERT INTO sys_resource    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 

                                                                            <if test="pid != null">
                   pid,
                    </if>
                                                                <if test="type != null">
                   type,
                    </if>
                                                                <if test="name != null">
                   name,
                    </if>
                                                                <if test="path != null">
                   path,
                    </if>
                                                                <if test="component != null">
                   component,
                    </if>
                                                                <if test="meta != null">
                   meta,
                    </if>
                                                                <if test="admin != null">
                   admin,
                    </if>
                                                                <if test="enable != null">
                   enable,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                                            <if test="pid != null" >
                    #{pid},                    
                    </if>
                                                                <if test="type != null" >
                    #{type},                    
                    </if>
                                                                <if test="name != null" >
                    #{name},                    
                    </if>
                                                                <if test="path != null" >
                    #{path},                    
                    </if>
                                                                <if test="component != null" >
                    #{component},                    
                    </if>
                                                                <if test="meta != null" >
                    #{meta},                    
                    </if>
                                                                <if test="admin != null" >
                    #{admin},                    
                    </if>
                                                                <if test="enable != null" >
                    #{enable},                    
                    </if>
                                    </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.worlds.mes.entity.Resource">
    UPDATE sys_resource
     <set>		
                                     pid=#{pid},        
                                type=#{type},        
                                name=#{name},        
                                path=#{path},        
                                component=#{component},        
                                meta=#{meta},        
                                admin=#{admin},        
                                enable=#{enable},        
                   </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.worlds.mes.entity.Resource">
    UPDATE sys_resource
    <set>
    	                                                <if test="pid != null" >
                pid=#{pid},                 
                </if>
                                                <if test="type != null" >
                type=#{type},                 
                </if>
                                                <if test="name != null" >
                name=#{name},                 
                </if>
                                                <if test="path != null" >
                path=#{path},                 
                </if>
                                                <if test="component != null" >
                component=#{component},                 
                </if>
                                                <if test="meta != null" >
                meta=#{meta},                 
                </if>
                                                <if test="admin != null" >
                admin=#{admin},                 
                </if>
                                                <if test="enable != null" >
                enable=#{enable},                 
                </if>
                        </set>
    WHERE id = #{id}
    </update>

		
	<!-- 根据主键删除记录 -->
	<delete id="delete" parameterType="com.worlds.mes.entity.Resource">
		UPDATE sys_resource
		SET is_deleted=1
		WHERE id = #{id}
	</delete>


</mapper>