<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worlds.mes.mapper.SysUserRoleMapper">
	<resultMap id="BaseResultMap" type="com.worlds.mes.entity.SysUserRole">
            <result column="id" property="id" />
	        <result column="user_id" property="userId" />
	        <result column="role_id" property="roleId" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.user_id
        , t.role_id
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM sys_user_role t
	</select>
    
    <!-- 根据条件查询所有记录 -->
    <select id="listAllByParam" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM sys_user_role t
        <where>
               <if test="id!=null and id!=''">AND t.id = #{id}</if>
	           <if test="userId!=null and userId!=''">AND t.user_id = #{userId}</if>
	           <if test="roleId!=null and roleId!=''">AND t.role_id = #{roleId}</if>
	    		</where>
	 </select>
    
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT         
        	<include refid="baseColumns" />
		FROM sys_user_role t
		WHERE id = #{id}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.worlds.mes.entity.SysUserRole"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">	 
        	    	id,
    	        	    	user_id,
    	        	    	role_id,
    	        </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	        #{id},                   
    	        	        #{userId},                   
    	        	        #{roleId},                   
    	        </trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.worlds.mes.entity.SysUserRole"
        keyProperty="id" keyColumn="id" useGeneratedKeys="true"
        >
        INSERT INTO sys_user_role    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 

                                                <if test="id != null">
                   id,
                    </if>
                                                                <if test="userId != null">
                   user_id,
                    </if>
                                                                <if test="roleId != null">
                   role_id,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                <if test="id != null" >
                    #{id},                    
                    </if>
                                                                <if test="userId != null" >
                    #{userId},                    
                    </if>
                                                                <if test="roleId != null" >
                    #{roleId},                    
                    </if>
                                    </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.worlds.mes.entity.SysUserRole">
    UPDATE sys_user_role
     <set>		
                                     user_id=#{userId},        
                                role_id=#{roleId},        
                   </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.worlds.mes.entity.SysUserRole">
    UPDATE sys_user_role
    <set>
    	                                                <if test="userId != null" >
                user_id=#{userId},                 
                </if>
                                                <if test="roleId != null" >
                role_id=#{roleId},                 
                </if>
                        </set>
    WHERE id = #{id}
    </update>

</mapper>